<!DOCTYPE html>
<html>
  <head>
    <title>skipWaiting Race</title>
    <meta name="description" content="Service Worker Snags">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <header>
      <h1>
        Race event.sikpWaiting
      </h1>
    </header>

    <main>
      <h5>The image below should load after a few seconds</h5>
      <div id="container"></div>
    </main>

    <script src="/client.js"></script>

  </body>
</html>
